$main-color: antiquewhite;
$main-background-color: #E8302F;

@font-face {
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: 400;
    src: local('Pokemon Solid'), url('https://fonts.cdnfonts.com/s/17890/Pokemon Solid.woff') format('woff');
}

@font-face {
    font-family: 'Amiga Forever';
    font-style: normal;
    font-weight: 400;
    src: local('Amiga Forever'), url('https://fonts.cdnfonts.com/s/7662/amiga4ever.woff') format('woff');
}
@font-face {
    font-family: 'Amiga Forever Pro2';
    font-style: normal;
    font-weight: 400;
    src: local('Amiga Forever Pro2'), url('https://fonts.cdnfonts.com/s/7662/amiga4ever pro2.woff') format('woff');
}
@font-face {
    font-family: 'Amiga Forever Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Amiga Forever Pro'), url('https://fonts.cdnfonts.com/s/7662/amiga4ever pro.woff') format('woff');
}

body{
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, #A7A7A7 1px, transparent 2px),
        linear-gradient(to bottom, #A7A7A7 1px, transparent 2px);
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-header {
    width: 100vw;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background: $main-background-color;
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba($main-background-color,1) 50%);
    .title{
        margin: 0.5rem;
    }
}

.selected-pokemon-container {
    width: 400px;
}

.pokemon-name-detail {
    font-family: 'Amiga Forever Pro2', sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 120%;
    margin: 5% 1% 0% 2%;
    background-color: white;
    border-left: 30px solid red;
    border-right: 30px solid red;
    outline: 5px solid black;
    border-radius: 10px;
}

.pokemon-image-detail{
    background: linear-gradient(rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0.123)), url('../../public/pokemon-center-logo.png') no-repeat;
    background-position: 50% 50%;
    background-size: 170px 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pokemon-list-container {
    padding-top: 0.3%;
    margin-top: 0.2%;
    max-height: 650px;
    overflow-y: auto;
    width: calc(100% - 400px);
    border-bottom-left-radius: 40px 20px;
    border-bottom-right-radius: 40px 20px;
}

.pokemon-list-container::-webkit-scrollbar { 
    width: 0 !important;
}

.pokemon-info-container {
    padding: 0%;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px 5px 0 3px;
    overflow: hidden;
}

.pokemon-name{
    font-family: 'Amiga Forever Pro2', sans-serif;
    text-transform: capitalize;
    height: 50%;
    margin: 0;
    padding: 1.1%;
}

.pokemon-image{
    float: left;
    margin-right: 10px;
    clear:both;
    width: 110px;
    height: 110px;
}

.pokemon-types{
    list-style-type: none;
    font-family: 'Amiga Forever Pro2', sans-serif;
    font-size: small;
    margin-left: 30px;
}

.pokemon-types li{
   display: inline-block;
   margin-right: 10px;
}

.title {
    font-family: 'Pokemon Solid';
    font-size: 2rem;
    font-weight: bold;
    color: rgb(238, 42, 42);
    -webkit-text-fill-color: #FFCB03; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3663AC;
}